---
import Layout from "../layouts/Layout.astro";
import Test from '../components/Test.tsx';
---

<Layout>
	<Test client:only="solidjs" />
	<div class="anotherclass">Test 2</div>
</Layout>


<style>
@import "tailwindcss/theme";
@plugin "daisyui";
.anotherclass{
	@apply bg-base-100 bg-red-500 text-lg mt-12;
}
</style>